name: Frontend CI

on:
  push:
    branches: [ main, feature/* ]
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: |
          if [  -f "pnpm-lock.yaml" ]; then
            npm install -g pnpm
            pnpm install --frozen-lockfile
          elif [ -f "yarn.lock" ]; then
            yarn install --frozen-lockfile
          else
            npm ci || npm install
          fi

      - name: Type check (if script exists)
        run: |
          if npm run | grep -q "tsc"; then
            npm run tsc -- --noEmit
          else
            echo "No tsc script, skipping type-check"
          fi

      - name: Run tests (if script exists)
        run: |
          if npm run | grep -q "test"; then
            npm test
          else
            echo "No test script, skipping tests"
          fi

      - name: Lint (if script exists)
        run: |
          if npm run | grep -q "lint"; then
            npm run lint
          else
            echo "No lint script, skipping lint"
          fi
