name: Frontend CI

on:
  push:
    branches: [ main, feature/* ]
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Type check
        run: npx tsc --noEmit

      - name: Run tests (if script exists)
        run: |
          if npm run | grep -q "test"; then
            npm test
          else
            echo "No test script, skipping tests"
          fi

      - name: Lint
        run: npm run lint
